﻿@model Sample.ASP.Models.StudentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nom
        </dt>

        <dd>
            @Model.LastName
        </dd>

        <dt>
            Prénom
        </dt>

        <dd>
            @Model.FirstName
        </dd>

        <dt>
            Date de Naissance
        </dt>

        <dd>
            @Model.BirthDate.ToString()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
