﻿@* lorsque une vue le requiert nous lui spécifions le type du modele utilisé *@
@model IEnumerable<Sample.ASP.Models.StudentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prénom
        </th>
        <th>
            Date de Naissance
        </th>
        <th></th>
    </tr>
@* Nous parourons ici chacun des éléments de la liste qui a été fourni par le controller à la vue *@
@foreach (var item in Model) {
    <tr>
        @* On affiche des différentes propriétés que l'on souhaite afficher *@
        <td>
            @item.LastName
        </td>
        <td>
            @item.FirstName
        </td>
        <td>
            @item.BirthDate
        </td>
        <td>
            @* Ces "Helpers" vont générer pour nous les différents lien pour respectivement éditer, voir et supprimer un student *@
            @* Ces "Helpers prennent en paramètre le texte, la méthode et les différents paramètres dont les méthodes ont besoin" *@
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
